<ion-card>
  <ion-card-header>
    <ion-input readonly="true" label="Senha: " value="{{SenhasService.inputNovaSenha}}"></ion-input>
  </ion-card-header>
  <ion-card-content>
    <ion-button expand="block" (click)="SenhasService.novaSenha('SG')">Senha Geral</ion-button>
    <ion-button expand="block" (click)="SenhasService.novaSenha('SP')">Senha Prioritária</ion-button>
    <ion-button expand="block" (click)="SenhasService.novaSenha('SE')">Senha Exame</ion-button>
  </ion-card-content>
</ion-card>
