<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Relatório de Senhas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Relatório de Senhas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-icon name="stats-chart-outline" size="large" color="primary"></ion-icon>
      <span>Resumo Geral</span>
      <div>Total de Senhas Emitidas e Estatísticas</div>
    </ion-card-header>
    <ion-card-content>
      <div>
        <div>
          <span><strong>Total Emitidas</strong></span>
          <span>{{ senhasService.senhasTotal }}</span>
        </div>
        <div>
          <span>Senhas Gerais</span>
          <span>{{ senhasService.senhasGeral }}</span>
        </div>
        <div>
          <span>Senhas Prioritárias</span>
          <span>{{ senhasService.senhasPrior }}</span>
        </div>
        <div>
          <span>Senhas para Exame</span>
          <span>{{ senhasService.senhasExame }}</span>
        </div>
      </div>
      <div>
        <div>
          <ion-icon name="podium-outline" color="dark"></ion-icon>
          <span>Atendimentos Realizados</span>
        </div>
        <div>
          <span>Total de Atendimentos</span>
          <span>{{ senhasService.getTotalAtendimentos() }}</span>
        </div>
        <div>
          <span>Geral Atendidos</span>
          <span>{{ senhasService.getTotalAtendidosPorTipo('SG') }}</span>
        </div>
        <div>
          <span>Prioritária Atendidos</span>
          <span>{{ senhasService.getTotalAtendidosPorTipo('SP') }}</span>
        </div>
        <div>
          <span>Exame Atendidos</span>
          <span>{{ senhasService.getTotalAtendidosPorTipo('SE') }}</span>
        </div>
      </div>
      <div>
        <div>
          <ion-icon name="timer-outline" color="dark"></ion-icon>
          <span>Média Tempo Atendimento (min)</span>
        </div>
        <div>
          <span>Prioritária</span>
          <span>{{ senhasService.mediaTempo('SP') }}</span>
        </div>
        <div>
          <span>Geral</span>
          <span>{{ senhasService.mediaTempo('SG') }}</span>
        </div>
        <div>
          <span>Exame</span>
          <span>{{ senhasService.mediaTempo('SE') }}</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-icon name="megaphone-outline" color="medium"></ion-icon>
      <span>Últimas Senhas Chamadas</span>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="senhasService.ultimasChamadas.length > 0; else semChamadas">
        <div *ngFor="let chamada of senhasService.ultimasChamadas">
          <span>{{ chamada }}</span>
          <span>
            Guichê {{
              chamada.split('- G')[1] ? chamada.split('- G')[1].trim() : ''
            }}
          </span>
        </div>
      </div>
      <ng-template #semChamadas>
        <div>
          Nenhuma senha chamada ainda.
        </div>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>